@font-face {
	font-family: 'Manrope-Bold';
	src: url('../fonts/manrope-bold.otf') format('opentype');
}

@font-face {
	font-family: 'Manrope';
	src: url('../fonts/manrope-regular.otf') format('opentype');
}