.signupTemplate{
     display:grid;
     justify-content: center;
     height:100vh;
     background-image:url(../images/landBkg.png);
     background-size:cover;
     background-attachment: fixed;
     position:relative;
 }

 
 form{
   
     background-color:white;
     color:black;
     padding:3em;
     border-radius:2.5em;
      text-align:center;
      margin:1em;
      height:30em;
      align-self: center;
       justify-self: center;
       position: absolute;
    
 }
 
 input , .form-control, .redButton{
     padding:.5em;
     border-radius:2.5em;
     background-color:#efefef;
     width:95%;
     border-style:none;
     margin-bottom:2em;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 
 }
 
 .redButton {
 background:#ea6060;
 color:white;
  
 }
 