@import '_vars';
@import'_login';
@import'_header';
@import'_footer';

// Start of Index Mobile

.hidden {
    display: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    background-color: $dark;
}


.pageTitle{
    margin: 0;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #ffffff;
    align-self: center;
    margin-right: 10vw;
}

.landingArea{
    width: 100%;
}

.promoVid{
    width: 100%;
}

.bookNow{
    background-color: $yellow;
    border: none;
    position: relative;
    top: -29px;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

.welcomeText{
    font-size: 1.8em;
    text-align: right;
    margin-right: 8vw;
    top: -10px;
    position: relative;
    color: $title;
}

.ontarioImg{
    width: 45%;
    margin-left: 2.5%;
    margin-bottom: 15px;
}

.explore{
    color: $title;
    font-weight: lighter;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
    margin-left: 34.5vw;
}

.explore:hover{
    text-decoration: underline;
}

.promoText{
    color: $title;
    font-size: 0.85em;
    line-height: 1.5em;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}


.landmarks{
    width: 100%;
    background-color: $light;
    padding-bottom: 25px;
}

.landmark{
    width: 100%;
    margin-top: 30px;
}

.landmarkImg{
    width: 100%;
}

.landmarkTitle{
    font-size: 2.5em;
    color: $title;
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.landmarkSub {
    font-size: 1em;
    color: $title;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
    margin-right: 30px;
}

.landmarkText{
    width: 80%;
    margin-left: 10%;
    line-height: 1.5em;
    font-size: 0.85em;
}

.experience{
    margin-top: 15px;
    width: 100%;
}

.expTitle{
    font-size: 2.5em;
    color: $title;
    text-align: center;
    margin: 0;
    margin-top: 25px;
}

.lakes{
    font-size: 1.5em;
    color: $title;
    text-align: center;
    font-weight: lighter;
    margin-top: 6px;
    margin-bottom: 15px;
}

.activity{
    padding-bottom: 25px;
}

.activityImg{
    width: 80%;
    margin-left: 10%;
}

.activityTitle{
    margin-left: 10%;
    color: $bodyLight;
}

.activityDesc{
    margin-left: 10%;
    color: $bodyLight;
    line-height: 1.5em;
}

.readMore{
    margin-left: 10%;
    color: $bodyLight;
    line-height: 1.5em;
    cursor: pointer;
}

.readMore:hover{
    text-decoration: underline;
}
