@charset "utf-8";
/* CSS Document */

@import '_vars';
@import '_fonts';
@import 'modules/_mixins';
@import'_login';

// Start of Index Mobile

.hidden {
    display: none;
}

body {
    margin: 0;
    font-family: Manrope, sans-serif;
}

.container{
    width: 100%;
    background-color: $dark;
}

header {
    width: 100%;
    height: 65px;
    background-color: $dark;
    display: flex;
    flex-direction: row-reverse;
    font-family: Manrope-Bold, sans-serif;
}

.pageTitle{
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #ffffff;
    align-self: center;
    margin-right: 10vw;
    font-family: Manrope-Bold, sans-serif;
}

.landingArea{
    width: 100%;
}

.promoVid{
    width: 100%;
}

.bookNow{
    background-color: $yellow;
    border: none;
    position: relative;
    top: -29px;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

.welcomeText{
    font-size: 1.8em;
    text-align: center;
    top: -10px;
    position: relative;
    color: $title;
    width: 80%;
    margin-left: 10%;
    font-family: Manrope-Bold, sans-serif;

}

.ontarioImg{
    width: 45%;
    margin-left: 2.5%;
    margin-bottom: 15px;
}

.explore{
    color: $title;
    font-weight: lighter;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

.explore:hover{
    text-decoration: underline;
}

.promoText{
    color: $title;
    font-size: 0.85em;
    line-height: 1.5em;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}


.landmarks{
    width: 100%;
    background-color: $light;
    padding-bottom: 25px;
}

.landmark{
    width: 100%;
    margin-top: 30px;
}

.landmarkImg{
    width: 100%;
}

.landmarkTitle{
    font-size: 2.5em;
    color: $title;
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.landmarkSub {
    font-size: 1em;
    color: $title;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
}

.landmarkText{
    width: 80%;
    margin-left: 10%;
    line-height: 1.5em;
    font-size: 0.85em;
}

.experience{
    margin-top: 15px;
    width: 100%;
}

.expTitle{
    font-size: 2.5em;
    color: $title;
    text-align: center;
    margin: 0;
    margin-top: 25px;
}

.lakes{
    font-size: 1.5em;
    color: $title;
    text-align: center;
    font-weight: lighter;
    margin-top: 6px;
    margin-bottom: 15px;
}

.activity{
    padding-bottom: 25px;
}

.activityImg{
    width: 80%;
    margin-left: 10%;
}

.activityTitle{
    margin-left: 10%;
    color: $bodyLight;
}

.activityDesc{
    margin-left: 10%;
    color: $bodyLight;
    line-height: 1.5em;
}

.readMore{
    margin-left: 10%;
    color: $bodyLight;
    line-height: 1.5em;
    cursor: pointer;
}

.readMore:hover{
    text-decoration: underline;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@include desktop{
    header {
        flex-direction: column;
        justify-content: center;
    }

    .pageTitle{
        text-align: center;
        margin-right: 0;
        font-size: 2em;
    }

    .promoVid{
        width: 96%;
        margin-left: 4%;
    }

    .bookNow{
        margin-left: 4%;
    }

    .ontarioImg{
        display: block;
        width: 15%;
        float: right;
    }

    .welcomeText{
        // font-size: 1.8em;
        // text-align: right;
        // top: -10px;
        // position: relative;
        // width: 40%;
        // float: left;
    }
}